.Rhistory
.Rproj.user
.cmsg
*.pdf
*.png
*.rda
*.rds
report/_book/*
report/csas-style/*
*.upa
*.html
*.md
*cache
build
*.log
*.RData
*.rdb
*.rdx
report/resdoc.Rmd
report/resdoc.tex
report/knitr-cache-tex/__packages
report/knitr-cache-docx/
*.aux
report/knitr-cache*
data/shortraker-fleet-effort.csv
report/data/shortraker-corrected-catch.csv
report/data/shortraker-fleet-effort.csv
report/data/shortraker-cpue.csv
data/pcod-fleet-effort.csv
report/data/pcod-corrected-catch.csv
report/data/pcod-fleet-effort.csv
report/data/pcod-cpue.csv
report/_bookdown.yml
junk/
sra/knitr-cache*
sra/knitr-figs*
nodejs/

report/gfmp-outline.mindnode/QuickLook/Preview.jpg
report/resdoc.toc
